
<h2 mat-dialog-title>{{tituloAccion}} Proyectos</h2>

<mat-dialog-content>

    <form [formGroup]="formularioAsignacionProyectos">

        <mat-grid-list cols="1" rowHeight="80px">

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion del proyecto</mat-label>
                    <input matInput autocomplete="off" formControlName="descripcion">
                    <mat-icon matSuffix>account-box</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <mat-select formControlName="idUsuario">
                        <mat-option *ngFor="let item of listaUsuario" [value]="item.idUsuario">
                            {{item.nombreCompleto}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary"
        [disabled]="formularioAsignacionProyectos.invalid"
        (click)="guardarEditar_Proyecto()"
    >{{botonAccion}}</button>
</mat-dialog-actions>


